# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Environment files
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# ML models
*.pkl

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
